@model Prueba_Tecnica_CRUD_J.EN.PersonaJ

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PersonaJ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreJ" class="control-label"></label>
                <input asp-for="NombreJ" class="form-control" />
                <span asp-validation-for="NombreJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoJ" class="control-label"></label>
                <input asp-for="ApellidoJ" class="form-control" />
                <span asp-validation-for="ApellidoJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SueldoJ" class="control-label"></label>
                <input asp-for="SueldoJ" class="form-control" />
                <span asp-validation-for="SueldoJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstatusJ" class="control-label"></label>
                <input asp-for="EstatusJ" class="form-control" />
                <span asp-validation-for="EstatusJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDeNacimiento" class="control-label"></label>
                <input asp-for="FechaDeNacimiento" class="form-control" />
                <span asp-validation-for="FechaDeNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComentariosJ" class="control-label"></label>
                <input asp-for="ComentariosJ" class="form-control" />
                <span asp-validation-for="ComentariosJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
